<div *ngIf="video && video.qualities.size != 0; else novideo">
  <p>{{ video.name }} by {{ video.author }}</p>

  <div *ngFor="let quality of video.qualities| keyvalue">
    <div *ngShow=""></div>
    <button type="button" (click)="selectedQuality = quality.key">{{quality.key}}</button>

    <video *ngIf="selectedQuality == quality.key" width="720" controls>
      <source *ngFor="let source of video.qualities.get(quality.key)"
        [src]="videoPath + source.link">
    </video>
  </div>
</div>

<ng-template #novideo>No video with such id!</ng-template>
