@import "../../values.scss";

@media all and (max-width: 1920px) {

  .grid-gallery {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($blockSize, $blockSize));
    grid-column-gap: 10px;
    grid-row-gap: 20px;

    .item-video {
      width: $blockSize;
      text-align: center;


      .thumbnail {
        img {

        }
      }

      .video-info {
        h3 {
          margin-top: 0;
        }

        .duration {
          position: relative;

          left: 65%;
          bottom: 25px;
          width: 80px;
          border-radius: 3px;
          padding: 1px 1px;
          margin: 0;
          text-align: center;
          pointer-events: none;
          color: rgba(white, 0.75);
          background: rgba($buttonDarkBackgroundColor, 0.75);
          z-index: 70;
        }
      }
    }
  }
}

/*
@media (max-width: 768px) {
  .wrapper {
    padding: 0 20px;
    min-width: $blockSize;

    .grid-gallery {
      margin: 0;
      grid-template-columns: repeat(1, $blockSize);
      text-align: center;

      .item-video {
        padding: 0;

        img {
          width: $blockSize;
          min-width: 200px;
        }
      }
    }
  }
}*/
