@import "../../values.scss";

.wrapper {
  margin: 0 40px;
  padding: 20px;
  background: $contentBoxColor;
  border-radius: 6px;
}
.upload-box {
  width: 400px;
  padding: 20px;
  position: relative;
  top: 40%;
  left: 40%;
  transform: (-50%, -50%);
  background: $contentBoxColor;
  text-align: center;

  input[type = "text"] {
    width: 240px;
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    padding: 3px 5px;
    text-align: left;
    border: 2px solid #9e90ba;
    border-radius: 4px;
    outline: none;
    color: $fieldTextColor;
    transition: 0.25s;

    &:focus {
      width: 300px;
      border-color: #c79fc7;
    }
  }

  .file-path {
    input[type = "text"] {
      position: relative;
      left: -35px;
      width: 144px;

      &:focus {
        width: 166px;
      }
    }

    .button {
      position: relative;
      bottom: 37px;
      right: -83px;
      margin: 0;
    }
  }

  h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: $uploadTitlesColor;
    text-transform: uppercase;
    font-weight: 600;
    pointer-events: none;
  }

  label {
    color: #755975;
    text-transform: capitalize;
    font-size: 16px;
  }
}

  .info-chapter {
    margin: 20px 0;
  }



  div {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    margin: 8px;

    a {
      display: block;
      padding: 8px;
      //background-color: #dddddd;
    }

    a:hover {
      background-color: #c5aed3;
    }


    &:last-child {
      border-right: none;
    }

    label {
      margin-right: 10px;
    }

    input {
      margin-right: 10px;
    }
  }
