<div class="wrapper"> 
  <form class="upload-box"[formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <h1>Video upload</h1>
    <div class="info-chapter">
      <label for="title">Video Title</label>
      <input type="text" formControlName="title">
      <label for="author">Video Author</label>
      <input type="text" formControlName="author">
    </div>
    <div class="info-chapter">
      <label for="file">Video File</label>
      <input type="text" formControlName="file">
      <button class="button" type="submit">Upload</button>
    </div>
    <div class="info-chapter">
      <button class="button" type="submit">Send</button>
    </div>
  </form>
</div>
