@import "nullstyle.scss";
@import "values.scss";

body {
  background: $background;
}

.wrapper {
  margin: 0 40px;
  padding: 20px;
  background: $contentBoxColor;
  border-radius: 6px;
}

.button {
  color: $buttonFontColor;
  background: #9e90ba;
  border-radius: 3px;
  padding: 7px 10px;
  text-align: center;
}

h1 {
  font-size: 30px;
}
