@import "nullstyle.scss";
@import "values.scss";

body {
  background: $background;
}

.wrapper {
  margin: 0 40px;
  padding: 20px;
  background: $contentBoxColor;
  border-radius: 6px;
}

.button {
  color: $buttonFontColor;
  background: #9e90ba;
  border-radius: 3px;
  padding: 6px 15px;
  text-align: center;
  outline: none;
  transition: 0.25s;
  cursor: pointer;
  text-transform: capitalize;
  &:hover {
    background-color: #c5aed3;
  }
}

h1 {
  font-size: 30px;
}
