/* Цвета и шрифт */
$navColor: #ffffff;//#9e90ba
$contentBoxColor: #ffffff;
$background: #c0c0d3; //#b4b4b4
$logoTextColor: #f1b887; //#c5aed3
$logoTextBorderColor: #492a0b; //#856285
$buttonColor: #f2f2f2;
$buttonFontColor: #ffffff;
$textColor: #856285;
$videoFrameColor: #222238;
$playerCheckedVideoQualityColor: #c79fc7;
$playerUncheckedVideoQualityColor: #755975;
$horLineColor: #e6e6e6;
$uploadTitlesColor: #856285;
$fieldTextColor: #343338;
$fieldBackgroundColor: #b4b4b4;
$buttonLightBackgroundColor: #efefef;
$buttonNormalBackgroundColor: #cccccc;
$buttonDarkBackgroundColor: #3b3b3b;

/* Шрифты */
$textFont: Fira Sans;
$titlesFont: Fira Sans;
$fieldTextFont: Fira Sans;
$buttonTextFont: Cleanvertising-Light;

/* Стили шрифтов */
$logoTextFontStyle: Bold;
$playerVideoNameFontStyle: Bold;
$buttonTextFontStyle: Light;
$galleryVideoNameFontStyle: Light;
$playerVideoDateFontStyle: Light;
$fieldTextFont: Light;
$playerVideoAuthorFontStyle: Book;
$playerVideoQualityFontStyle: Book;
$titelsStyle: Book;
$mainTitleStyle: Medium;

/* Размеры шрифтов*/
$logoTextFontSize: 65px;

/*-------*/
$blockSize: 400px;
